<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visor(container stat)</title>
    <link rel="preload" href="/static/css/bootstrap.min.css" as="style">
    <link rel="preload" href="/static/css/all.min.css" as="style">
    <link rel="preload" href="/static/webfonts/fa-solid-900.woff2" as="font">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
</head>
<body>

    {{template "header" .}}
    <div>
        <table class="table" title="Container Stats" >
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>Network</th>

            </tr>
            {{range .Item}}
                <tr>
                    <td class="data">{{.Name}}</td>
                    <td class="data">{{.ID}}</td>
                    <td class="data">{{.CPU}}</td>
                    <td class="data">{{.RAM}}</td>
                    <td class="data">{{.Network}}</td>

                </tr>
            {{end}}
        </table>
    </div>

</body>
</html>