<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visor(container stat)</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
</head>
<body>

    {{template "header" .}}
    <div>
        <table class="table" title="Container Stats" >
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>Network</th>
                <th>Operation</th>
            </tr>
            {{range .Item}}
                <tr>
                    <td class="data">{{.Name}}</td>
                    <td class="data">{{.ID}}</td>
                    <td class="data">{{.CPU}}</td>
                    <td class="data">{{.RAM}}</td>
                    <td class="data">{{.Network}}</td>
                    <td>
                        <a class="btn btn-primary" role="button" href="">
                            <span class="fas fa-info-circle"></span>
                        </a>
                        <a class="btn btn-primary" role="button" href="">
                            <span class="fas fa-play"></span>
                        </a>
                        <a class="btn btn-warning" role="button" href="">
                            <span class="fas fa-pause"></span>
                        </a>
                        <a class="btn btn-dark" role="button" href="">
                            <span class="fas fa-stop"></span>
                        </a>
                        <a class="btn btn-danger" role="button" href="">
                            <span class="fas fa-skull"></span>
                        </a>
                    </td>
                </tr>
            {{end}}
        </table>
    </div>

</body>
</html>