<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visor(container stat)</title>
</head>
<body>
    <div style="alignment: center">
        <label>Container Name:</label>
        <label>{{.Name}}</label>
        <label>Container ID:</label>
        <label>{{.ID}}</label>
    </div>
    <div>
        <label>CPU Utilization:</label>
        <label>{{.CPU}}</label>
        <label>RAM Usage:</label>
        <label>{{.RAM}}</label>
        <label>Network Usage:</label>
        <label>{{.Network}}</label>
    </div>
</body>
</html>